<!DOCTYPE html>
<html ng-app="DidTheyWin">
<head>
  <title>Did They Win?</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.min.js"></script>
  <script src="/js/angucomplete.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/3.1.0/animate.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
  <meta name="viewport" content="initial-scale=1">
</head>
<body ng-controller="MainCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title" ng-class="{'animated bounceInLeft': !entrance}">
              Did They Win?<br/>
              <small>Missed the game? No problem! Check the result here.</small>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form name="check" class="form-inline check-form" ng-class="{'animated pulse': !entrance}">
              <angucomplete id="team"
                            placeholder="Find your team..."
                            pause="100"
                            selectedObject="team"
                            localdata="team_names"
                            searchfields="name"
                            titlefield="name"
                            inputclass="form-control input-lg">
              </angucomplete>
              <input type="button" value="Check" class="btn btn-primary btn-lg" ng-click="submit_form()" />
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6 result" ng-show="result && result.hasOwnProperty('team')">
        <span class="date">{{ result.date }}</span>
        <div class="row team-top" ng-class="{'winner': result.team_event_result == 'win', 'loser': result.team_event_result == 'loss'}">
          <div class="col-md-12">
            <div class="logo-wrapper">
              <img class="logo" ng-if="result && result.hasOwnProperty('team')" ng-src="/images/logos/{{ result.team.team_id }}.gif" alt="{{ result.team.full_name }}" />
            </div>
            <span class="points">{{ result.team_points_scored }}</span>
          </div>
        </div>
        <div class="row team-bottom" ng-class="{'loser': result.team_event_result == 'win', 'winner': result.team_event_result == 'loss'}">
          <div class="col-md-12">
            <div class="logo-wrapper">
              <img class="logo" ng-if="result && result.hasOwnProperty('opponent')" ng-src="/images/logos/{{ result.opponent.team_id }}.gif" alt="{{ result.opponent.full_name }}" />
            </div>
            <span class="points">{{ result.opponent_points_scored }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-bot-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="collapse-bot-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://brycekalow.name">Bryce Kalow</a></li>
          <li><a href="https://github.com/BRKalow/didtheywin">Github</a></li>
          <li><a href="https://erikberg.com/api">xmlstats API</a></li>
    </div>
  </nav>
</body>
</html>
